@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url('fonts/Montserrat-Thin.ttf') format('ttf');
  }

  body {
    font-family: 'MinhaFontePersonalizada', sans-serif;
  }

  .collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
  }

  .collapsible-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 2rem;
    font-weight: bold;
    color: #ffc107;
  }

  .collapsible-link[aria-expanded='true']::before {
    content: '\f106';
  }
  /*
  @media screen and (max-width: 1024px){
    .navbar-nav{
      display: none;
    }
    .btn1{
      display: none;
    }
    .foto1{
      padding: 10%;
      right: 10px;
    }
    .foto2{
      padding: 10%;
    }
    .foto3{
      padding: 10%;
    }
    .card-title {
      font-size: 20px;
    }
}
.nome {
  padding: 10%;
  background: rgb(0, 0, 0);
}
.formulario {

  max-width: 650px;
  text-align: center;
  margin: 20px auto;

}

.formulario input, form textarea {

  border: 0;
  outline: 0;
  padding: 0.8em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 16px;
  font-family:'open_sansregular';
  font-size:16px;
  color:#424242;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

.formulario input:focus, .formulario textarea:focus {
   
  color:#000000; 
  -moz-box-shadow: 0 0px 2px #3cafe7 !important;
  -webkit-box-shadow: 0 0px 2px #3cafe7 !important;
  box-shadow: 0 0px 2px #3cafe7 !important;

}

.formulario .btn-submit {

  color: #fbf9f3;
  background: #2f86b2 ;
  cursor: pointer;
  transition: 0.5s;

}

.formulario .btn-submit:hover {
 
  background-color:#424242;
  -moz-box-shadow: 0 1px 1px 1px rgba(191, 76, 76, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(94, 147, 30, 0.893);
  box-shadow: 0 1px 1px 1px rgba(197, 81, 81, 0.6);

}

.formulario textarea {

  height: 174px;

}

.metade {

  float: left;
  width: 48%;
  margin-bottom: 1em;

}

.right { width:50%;}

.left  { margin-right:2%; }

@media (max-width: 768px) {
  
  .metade { width:100%; float:none; margin-bottom:0; }

}